.fullscreen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}
.appHolder{
    background: black;
}
.splashScreen{
    background: teal;
    opacity: 1;
    transition: opacity 10s ease;
}