h1{
    font-size: 3rem;
    width: 25rem;
    margin: 0 auto;
    text-align: center;
}
#words{
    width:25%;
    margin: 0 auto; /*centers the div*/
    text-align: center; /* centers text in the div.*/   
    border: 1px solid red;
    font-size: 2rem;
}